@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

html, body {
	height      : 100%;
	width       : 100%;
	padding     : 0;
	margin      : 0;
	font-family : 'Vollkorn', serif;
}

/**
 * Main Layout
 */
.sidebar {
	float      : left;
	width      : 12em;
	height     : 100%;
	background : #f9f9f9;
}

.logo {
	font-size   : 2.25em;
	font-family : 'Alegreya Sans SC', sans-serif;
	text-align  : center;
	margin-top  : 0.3em;
	position: relative;
}

.logo__block {
	width  : 0.335em;
	height : 0.335em;
	display: inline-block;
}

.logo__block--top-left, .logo__block--top-right {
	position : absolute;
	top      : 20%;
}

.sidebar h3 {
	padding-left: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.sidebar ul {
	font-family: 'Alegreya Sans SC', sans-serif;
	padding: 0;
}

.sidebar li {
	list-style-type : none;
	text-align	    : center;
	width           : 100%;
	padding-top     : 1em;
	padding-bottom  : 1em;
}

.sidebar li:nth-child(odd) {
	background-color : #DEDEDE;
}

.sidebar a {
	text-decoration : none;
	color           : black;
}

.content {
	height   : 100%;
	width    : auto;
	overflow : hidden;
}

/**
 * Priority Labels
 */

.content__top-gutter {
	height : 2em;
	width  : 100%;
}

.content__under-top-gutter {
	height : 100%;
	width  : 100%;
	overflow : hidden;
}

.top-gutter__corner {
	float : left;
	height : 2em;
	width  : 2em;
}

.top-gutter__main {
	height   : 2em;
	width    : auto;
	overflow : hidden;
}

.corner-gutter {
	float  : left;
	height : 2em;
	width  : 2em;
}

.top-gutter__header, .left-gutter__header {
	color            : #888;
	background-color : #eee;
}

.left-gutter {
	float    : left;
	height   : 100%;
	width    : 2em;
	position : relative;
}

.top-gutter__header {
	float            : left;
	width            : 50%;
	height           : 2em;
	text-align       : center;
	padding-top      : 0.4em;
}

.top-gutter__header--blue {
	color : #666;
}

.priority-label {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.left-gutter__header {
	height   : 50%;
	width    : 100%;
	position : relative;
}

.left-gutter__header__text {
	position    : absolute;
	top         : 50%;
	left        : 50%;
	transform   : translateX(-50%) translateY(-50%) rotate(-90deg);
	white-space : nowrap;
}

/**
 * Grid
 */

.grid {
	width    : auto;
	height   : 100%;
	overflow : hidden;
}

.grid__quadrant {
	float    : left;
	margin   : 0 auto;
	height   : 50%;
	width    : 50%;
}

.grid__quadrant h1, p {
	padding-left: 10px;
}

.grid__quadrant h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

.grid__quadrant--do, .logo__block--top-left {
	background-color: #9ACEEB;
}

.grid__quadrant--plan, .left-gutter__header--blue, .logo__block--top-right {
	background-color: #C1E7EC;
}

.grid__quadrant--delegate, .top-gutter__header--blue, .logo__block--bottom-left {
	background-color: #C1DAF8;
}

.grid__quadrant--later, .logo__block--bottom-right {
	background-color: #EEE;
}

.checklist {
	padding-left: 10px;
}

.checklist li {
	list-style-type: none;
	margin-bottom : 0.2em;
}

.checklist img {
	float: right;
	padding-right: 10px;
}

.checked {
	color           : gray;
	text-decoration : line-through;
}
