#header {	
	text-align: center;
	padding-top: 25px;
	padding-bottom: 5px;
	background-color: #3c4543;
}

#footer {	
	text-align: center;
	padding-top: 25px;
	padding-bottom: 5px;
	background-color: #3c4543;
}

ul li {
	list-style-type: none;
	display: inline;
	margin: 10px;
}