@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

html, body, .container {
    height      : 100%;
    width       : 100%;
    padding     : 0;
    margin      : 0;
    font-family : 'Vollkorn', serif;
}

/**
 * Main Layout
 */
.sidebar {
    float      : left;
    width      : 12em;
    height     : 100%;
    background : #f9f9f9;
}

.logo {
    font-size   : 2.25em;
    font-family : 'Alegreya Sans SC', sans-serif;
    text-align  : center;
    margin-top  : 0.3em;
    position: relative;
}

.logo__block {
    width  : 0.335em;
    height : 0.335em;
    display: inline-block;
}

.logo__block--top-left, .logo__block--top-right {
    position : absolute;
    top      : 20%;
}

.sidebar h3 {
    padding-left: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
}

.sidebar ul {
    font-family: 'Alegreya Sans SC', sans-serif;
    padding: 0;
}

.sidebar li {
    list-style-type : none;
    text-align      : center;
    width           : 100%;
    padding-top     : 1em;
    padding-bottom  : 1em;
}

.sidebar li:nth-child(odd) {
    background-color : #DEDEDE;
}

.sidebar a {
    text-decoration : none;
    color           : black;
}

.content {
    height   : 100%;
    width    : auto;
    overflow : hidden;
}

/**
 * Priority Labels
 */

.content__top-gutter {
    height : 4em;
    width  : 100%;
}

.content__under-top-gutter {
    height : 100%;
    width  : 100%;
    overflow : hidden;
}

.top-gutter__corner {
    float : left;
    height : 4em;
    width  : 4em;
}

.top-gutter__main {
    height   : 4em;
    width    : auto;
    overflow : hidden;
}

.top-gutter__header, .left-gutter__header {
    color            : #888;
    background-color : #eee;
}

.left-gutter {
    float    : left;
    height   : 100%;
    width    : 4em;
    position : relative;
}

.top-gutter__header {
    float       : left;
    width       : 50%;
    height      : 1.6em;
    text-align  : center;
    padding-top : 0.4em;
}

.top-gutter__header--blue {
    color : #666;
}

.priority-label {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size  : 2em;
}

.left-gutter__header {
    height   : 50%;
    width    : 100%;
    position : relative;
}

.left-gutter__header__text {
    position    : absolute;
    top         : 50%;
    left        : 50%;
    white-space : nowrap;
}

.left-gutter__header__text--bottom {
    transform : translateX(-50%) translateY(-120%) rotate(-90deg);
}

.left-gutter__header__text--top {
    transform : translateX(-50%) translateY(-50%) rotate(-90deg);
}

/**
 * Grid
 */

.grid {
    width    : auto;
    height   : 100%;
    overflow : hidden;
}

.grid__quadrant {
    float    : left;
    margin   : 0 auto;
    height   : 50%;
    width    : 50%;
}

.grid__quadrant h1, .grid__quadrant p, .grid__quadrant li {
    padding-left: 1em;
}

.grid__quadrant h1 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

.grid__quadrant--do, .logo__block--top-left {
    background-color: #9ACEEB;
}

.grid__quadrant--plan, .left-gutter__header--blue, .logo__block--top-right {
    background-color: #C1E7EC;
}

.grid__quadrant--delegate, .top-gutter__header--blue, .logo__block--bottom-left {
    background-color: #C1DAF8;
}

.grid__quadrant--later, .logo__block--bottom-right {
    background-color: #EEE;
}

.quadtrant__hint {
    font-size: 1.1em;
}

.checklist {
    padding-left: 0;
}

.checklist li {
    list-style-type: none;
    margin-bottom : 0.2em;
}

.checklist__item--close-button {
    float: right;
    padding-right: 1em;
}

.checked {
    color           : gray;
    text-decoration : line-through;
}

.add-new {
    opacity: 0.6;
    padding-left: 1em;
}

.add-new input {
    border-style: dashed;
    border-color: #D8D8D8;
}

::-webkit-input-placeholder {
 font-style: italic;
 color: #d0cdfa;
 }
